body {
  background: #3d4773;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 492px) {
  .navigation{
   font-size: small;
   font-weight: 100;
   margin-right: 500px;
  }
  @media (min-width: 900px) {
    .navigation{
      font-size: large;
    }

  }
  
}

.txt h1  {
    display: flex;
    justify-content: center;
  }

  .na   {
  display: inline-flex;
  position: relative;
  align-items: center;
  list-style-type: none;
  font-size: 35px;
  transition: all 900ms ease;
  text-decoration: none;
  color: white;
  margin-top: 35px;
  flex-direction: column;
  padding-left: 35px;
 
  }
  .na:hover {
    color: #000000;
    transition: all 600ms ease;
    flex-direction: column;
  }

  .na h1 {
    display: flex;
    padding: 15px;
    text-decoration: none;
    flex-direction: column;
    font-size: 85px;
  }
  .nav a {
    display: inline-flex;
    position: relative;
    align-items: center;
    list-style-type: none;
    font-size: 35px;
    transition: all 900ms ease;
    text-decoration: none;
    color: white;
    margin-top: 35px;
    flex-direction: column;
    padding-left: 35px;
  } 
  .nav a:hover {
    color: #000000;
    transition: all 600ms ease;
    flex-direction: column;
  }

    
  
  



.navigation {
  
  text-align: end;
  font-size: 20px;
  color: white;
  display: flex;
  display: flex;

}
.navigation input {
  border-radius: 999px;
  border: none;
  padding: 10px 20px;
}

.navigation h1  {

}



.search-wrraper  {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 20px;
  padding-left: 25px;
 margin-bottom: 35px;

  
}
.search-wrraper-icon  {
  width: 24px;
  height: 24px;
  right: 20px;
  position: absolute;
 
}
.navigation input:focus{outline: none;}



.message h1 {
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.far img {
  height: 70px;
  width: 70px;
}

.red img {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 100%;
  background-color: #000000;
}



.logo  {
  width: 150px;
  height: 150px;
}




.raven img {
  width: 250px;
  height: 375px;
}

.need h1 {
  font-family: Roboto, sans-serif;
}
#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;
  justify-items: center;
}

.card {
  display: flex;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  width: 320px;
  flex-direction: column;
  position: relative;
  height: 430px;
  

}






  


.card-description {
  background-color: #e48719;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.btn { 
  text-decoration: none; 
  border: 2px solid #000000; 
  border-radius: 999px; 
  padding: 10px 20px; 
  text-transform: uppercase; 
  font-weight: 700; 
  color: black; 
  transition: all 400ms ease; 
} 
 
.btn:hover { 
  background-color: #000000; 
  color: white; 
}
.card img {
  width: 100%;
  transition: scale 400ms ease;
}
.card img:hover{scale: 1.1;}

.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.hello h1 {
  align-items: center;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
}


.hello h1 {
  color: #ffffff;
}
